:root {
  --primary #red;
  --secondary: #fff;
}

.davi-btn-primary {
  background-color: var(--primary);
  color: #fff !important;
  font-family: "Helvetica Neue";
}

.davi-hero {
  background-image: url(../img/slut.png);
  background-color: var(--primary);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 100% 20%;
  height: calc(100vh - 56px);
}

.grt-hero {
  background-image: url(../img/slut.png);
  background-color: var(--primary);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 100% 50%;
  height: calc(100vh - 56px);
}

@media (min-width: 576px) {
  .davi-hero {
    height: 60vh;
    min-height: 300px;
  }
}
@media (min-width: 576px) {
  .grt-hero {
    height: 60vh;
    min-height: 300px;
  }
}

.col_2, .col_3{
  background-image: url(../img/slut.png);
}

.col_4, .col_5{
  background-image: url(../img/hej.png);
}

